version: 1.0.{build}
pull_requests:
  do_not_increment_build_number: true
branches:
  only:
  - master
skip_tags: true
image:
  - Visual Studio 2019
  - Ubuntu

# cache:
#  - ui\node_modules
#  - electron-app\node_modules
#  - '%USERPROFILE%\.electron'

init:
  - git config --global core.autocrlf input

install:
  - cmd: powershell Install-Product node 18 x64
  - sh: nvm install 18.18.0
  - sh: nvm use 18.18.0
  - yarn

build_script:
  - cmd: yarn release:windows
  - sh: yarn release:linux

test: off
