.login-modal .ant-light-modal,
.login-modal .ant-dark-modal {
  padding: 0;
  margin: 0;
  top: 0 !important;
  width: 100% !important;
  height: 100vh;
}

.login-modal .ant-light-modal-content,
.login-modal .ant-dark-modal-content {
  height: 100%;
}

.login-modal .ant-light-modal-body,
.login-modal .ant-dark-modal-body {
  height: calc(100% - 55px);
  padding: 0 !important;
}

.login-card + .login-card {
  margin-top: .5rem;
}

.login-card .ant-light-list-empty-text,
.login-card .ant-dark-list-empty-text {
  padding: 0 !important;
  display: none;
}
