.logo {
  height: 32px;
  margin: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 36px;
  color: hsla(0, 0%, 100%, 0.65);
  font-size: 1.5em;
}

.ant-light-layout-sider-collapsed .logo,
.ant-dark-layout-sider-collapsed .logo {
  color: transparent;
  background-position: center;
  font-size: 0 !important;
}

.ant-light-page-header,
.ant-light-page-header-content,
.ant-dark-page-header,
.ant-dark-page-header-content {
  padding: 0 !important;
}

.header {
  position: sticky;
  top: 0;
  z-index: 20;
}

.ant-light-layout .header > * {
  border-bottom: 1px solid #e0e0e0;
}

.ant-dark-layout .header > * {
  border-bottom: 1px solid #030303;
}
