.logo {
  height: 32px;
  margin: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 36px;
  color: hsla(0, 0%, 100%, 0.65);
  font-size: 1.5em;
}

.ant-layout-sider-collapsed .logo {
  color: transparent;
  background-position: center;
  font-size: 0 !important;
}

.ant-page-header,
.ant-page-header-content {
  padding: 0;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #f0f2f5;
  margin-bottom: 1em;
}

.header > * {
  border-bottom: 1px solid #e0e0e0;
}
