@tailwind base;

@tailwind components;

.form-action-bar {
  margin: 0 -.75rem;
  @apply shadow py-2 px-3 text-right z-10 sticky bg-white bottom-0;
}

.disabled {
  @apply text-disabled 
}

.text-link:hover {
  cursor: pointer;
  color: #40a9ff;
}

.text-link:active {
  color: #096dd9;
}

.text-diabled {
  pointer-events: none;
}

.primary-layout-container {
  background-color: white;
}

.full-size-spinner {
  @apply h-full w-full;
}

.full-size-spinner .ant-spin-container {
  @apply h-full w-full;
}

.ant-form-item {
  margin-bottom: 0px;
}

.ant-form-item + .ant-form-item {
  margin-top: 10px;
}

.ant-drawer-header {
  @apply z-10 sticky bg-white top-0;
}

.ant-card-cover {
  max-width: 250px;
  margin: auto;
}

ul {
  margin-bottom: 0;
}

.ant-upload-select-picture-card i {
  font-size: 32px;
  color: #999;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  color: #666;
}

@tailwind utilities;
