@tailwind base;

@tailwind components;

ul {
  margin-bottom: 0;
}

.disabled {
  @apply text-disabled;
  pointer-events: none;
  color: inherit !important;
}

.bg-inherit {
  background-color: inherit;
}

.text-link:hover {
  cursor: pointer;
  color: #40a9ff;
}

.text-link:active {
  color: #096dd9;
}

.form-action-bar {
  margin: 0 -0.75rem;
  @apply shadow py-2 px-3 text-right z-10 sticky bottom-0;
}

.full-size-spinner {
  @apply h-full w-full;
}

.full-size-spinner > div {
  @apply h-full w-full;
}

.h-full-important {
  height: 100% !important;
}

@tailwind utilities;
