.submission-list {
  margin-bottom: 1em;
}

.submission-list .ant-light-list-items,
.submission-list .ant-dark-list-items {
  max-height: 50vh;
  overflow: auto;
}

.submission-form .ant-light-form label,
.submission-form .ant-dark-form label {
  font-size: 16px;
}

.calendar-events {
  list-style: none;
  margin: 0;
  padding: 0;
}

.calendar-events .ant-badge-status {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
  font-size: 12px;
}
