.submission-list {
  margin-bottom: 1em;
}

.submission-list .ant-list-items {
  max-height: 50vh;
  overflow: auto;
}

.submission-form .ant-form label {
  font-size: 16px;
}

.submission-form .form-section + .form-section {
  margin-top: 2rem;
  padding-bottom: 0px;
}

.submission-form .form-section .form-section-header {
  text-transform: uppercase;
}

.file-card .ant-card-cover > span {
  height: 100%;
}

.file-card .ant-upload.ant-upload-drag .ant-upload-btn {
  padding: 0 !important;
  height: 250px !important;
}

.file-card .ant-upload-drag-container > * {
  max-height: 250px;
  width: auto;
}

.additional-file-card .ant-card-cover img {
  height: 100px;
  width: auto;
  margin: auto;
  max-width: 100%;
}

.additional-file-card > .ant-card-body {
  padding: 0;
}

.calendar-events {
  list-style: none;
  margin: 0;
  padding: 0;
}

.calendar-events .ant-badge-status {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
  font-size: 12px;
}

.editable-submissions .ant-list-item-extra {
  flex: 0.5;
  margin: 0;
}

.ant-select-tree-title .select-tree-website-tag {
  display: none;
}
